# Assignment no 1
Name: Vishal Pattar \
Roll no: 33557 \
Class: TE AIML \
Subject: Artificial Intelligence for Cyber Security

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [3]:
df = pd.read_csv("./spam.csv")
df.sample(5)

     Category                                            Message
4707      ham  Wow so healthy. Old airport rd lor. Cant thk o...
272       ham  Night has ended for another day, morning has c...
820       ham  BOO BABE! U ENJOYIN YOURJOB? U SEEMED 2 B GETT...
72        ham      HI BABE IM AT HOME NOW WANNA DO SOMETHING? XX
1626      ham  Hi Dear Call me its urgnt. I don't know whats ...

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [6]:
df['spam'] = df['Category'].apply(lambda x: 1 if x == "spam" else 0)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.2, random_state=2)

In [8]:
cv = CountVectorizer()
X_train_transform = cv.fit_transform(X_train.values)
X_test_transform = cv.transform(X_test)

In [9]:
model = MultinomialNB()
model.fit(X_train_transform, y_train)
y_pred = model.predict(X_test_transform)

In [10]:
model.score(X_test_transform, y_test)

0.9739910313901345

In [11]:
text = ['Free entry in 2 a wkly comp to win FA Cup fina']
model.predict(cv.transform(text))

array([1], dtype=int64)